<div class="form-container container-bg">
  <div class="infoSection">
    <h1 class="text-center">Register a Visitor</h1>
    <hr class="title-border">
    <h5>Complete the form below to register a new visitor.<br>
    Please note that some fields are required in order for
    your visitor to be registered.</h5>
  </div>
  
  <div>
    <form #registerVisitorForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="visitor.name" required>
      </div>  
      <div class="form-group">
        <label for="comment">BluetoothID</label>
        <input type="text" class="form-control" name="comment" [(ngModel)]="visitor.bid" required>
      </div>
      <div class="form-group">
        <button (click)="registerVisitor()" [routerLink]="['/visitHistory']" type="submit" class="btn btn-success" [disabled]="!ideaForm.form.valid">Submit</button>
      </div>
    </form>
  </div>
</div>