<div class="site">
    <!-- App Heder Goes Here. Replace crap below with nav bar -->
    <nav>
        <a routerLink="/visitorLog">Visitor Log</a>
        <a routerLink="/newLog">New Log</a>
        <a routerLink="/frequencies">Frequencies</a>
    </nav>
    <button (click)="requestVisitors()">
      Log Data
    </button>
    <button (click)="scan()">
        Scan 15s
      </button>
  <div class="site-content">
    <router-outlet></router-outlet>
  </div>
  <!-- App Footer Goes Here -->
</div>
