<div class="col-md probootstrap-animate login-container">
  <form action="#" class="probootstrap-form" #f="ngForm">
    <div class="form-group">
      <div class="row mb-3">
        <div class="col-md">
          <div class="form-group">
            <label for="id_label_single">Username</label>
            <div class="form-group">
              <label for="fname" class="sr-only sr-only-focusable">Username</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>

      </div>
      <!-- END row -->
      <div class="row mb-5">
        <div class="col-md">
          <div class="form-group">
            <label for="probootstrap-date-departure">Password</label>
            <div class="form-group">
              <label for="fname" class="sr-only sr-only-focusable">Password</label>
              <input type="password" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <!-- END row -->
      <div class="row">
        <div class="col-md">
          <input (click)="logIn()" [routerLink]="['/visitHistory']" type="submit" value="Submit" class="btn btn-success btn-block login-btn">
        </div>
      </div>
      <div class="row">
        <div class="col-md text-center create-link">
            <a [routerLink]="['/register']">Create Account</a>
        </div>
      </div>
    </div>
  </form>
</div>