<div class="container container-bg">
  <h1>Visit History</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let visit of visits">
            <td>{{ visit.user.name }}</td>
            <td>{{ visit.uploaded_date | date:'mediumDate' }}</td>
            <td>{{ visit.uploaded_date | date:'shortTime' }}</td>
            <td>{{ visit.comments }}</td>                        
          </tr>
    </tbody>
  </table>
</div>