<div class="container container-bg">
  <h1 class="text-center">Visit History</h1>
  <hr class="title-border">
  <table id="table" class="table" data-pagination="true" data-id-field="name" data-page-list="[5, 10, 25, 50, 100, ALL]" data-page-size="5">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let visit of visits">
            <a [routerLink]="['/visitorLog/'+visit.user.id]"><td>{{ visit.user.name }}</td></a>
            <td>{{ visit.uploaded_date | date:'mediumDate' }}</td>
            <td>{{ visit.uploaded_date | date:'shortTime' }}</td>
            <td>{{ visit.comments }}</td>                        
          </tr>
    </tbody>
  </table>
  <ul class="pagination pagination-sm justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previously</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</div>